body {
  background-color: olive;
}

img {
  float: left;
  padding: 5px;
}

.card {
  margin-bottom: 5px;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: lightblue;
  border-radius: 0.3rem;
  text-align: center;
}
